{% set page_title = 'HEXA-A - Login' %}
{% extends 'layout.html' %}
{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui six wide column">
                <div class="ui segment left aligned">
                    <h3>Sign in</h3>
                    <div class="ui divider"></div> 

                    <form class="ui form" action="/login" method="post">
                        <input type="hidden" name="current_url" value="{{current_url or ''}}"/>
                        <div class="field">
                            <label for="username">Username or email</label>
                            <input type="text" name="identifier" placeholder="Username or email">
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div class="field">
                            <a href="/sendresetpassword">Forget password?</a>
                        </div>
                        <button type="submit" class="ui blue fluid button">Sign in</button>
                    </form>

                    <div class="ui horizontal divider">Or</div>
                    <a href="/signup" class="ui green fluid button">Create new account</a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
