{% set page_title = 'HEXA-A - Login' %}
{% extends 'layout.html' %}
{% block container %}

<div class="ui middle aligned center aligned grid">
    <div class="ui five wide column">
        <div class="ui segment left aligned">

            <div class="ui tabular menu" id="endpoint-options">
                <a class="active item" data-tab="signin">Sign in</a>  
                <a class="item" data-tab="signup">Sign up</a>        
            </div><br>
            
            <div class="ui tab active" data-tab="signin">
                <form class="ui form" action="/login" method="post">
                    <input type="hidden" name="current_url" value="{{current_url or ''}}"/>
                    <div class="field">
                        <label for="username">Username or email</label>
                        <input type="text" name="identifier">
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" name="password">
                    </div>
                    <div class="field">
                        <a href="/sendresetpassword">Forget password?</a>
                    </div>
                    <button type="submit" class="ui blue fluid button">Sign in</button>
                </form>
            </div>

            <div class="ui tab" data-tab="signup">
                <form class="ui form" action="/signup" method="post">
                    <div class="field">
                        <label for="username">Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" name="password" required>
                    </div>
                    <button type="submit" class="ui green fluid button">Sign up</button>
                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}
