{% set page_title = 'HEXA-A - Login' %}
{% extends 'layout.html' %}
{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui six wide column">
                <div class="ui segment left aligned">
                    <h3>Sign in</h3>
                    <div class="ui divider"></div> 
                    {% if error %}
                        <div class="ui negative message">
                            <i class="close icon"></i>
                            <div class="header">Error</div>
                            <ul class="list">
                                <li>{{error}}</li>
                            </ul>
                        </div> 
                    {% endif %}
                    <form class="ui form" action="/login" method="post">
                        <input type="hidden" name="current_url" value="{{current_url or ''}}"/>
                        <div class="field">
                            <label for="username">Username or email</label>
                            <input type="text" name="identifier" placeholder="Username or email">
                        </div>
                        <div class="field">
                            <label for="password">Password</label>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <div class="field">
                            <a href="/sendresetpassword">Forget password?</a>
                        </div>
                        <button type="submit" class="ui blue fluid button">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
