{% set page_title = 'HEXA-A - Rest password' %}
{% extends 'layout.html' %}
{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui six wide column">
                <div class="ui left aligned segment">
                    <h3>Reset password</h3>
                    <div class="ui divider"></div> 

                    {% if done %}
                        <div class="ui positive message">
                            <i class="close icon"></i>
                            <div class="header">Your password has been reset successfully!</div>
                        </div>
                    {% elif invalid_token %}
                        <div class="ui negative message">
                            <i class="close icon"></i>
                            <div class="header">Invalid reset link</div>
                        </div>    
                    {% else %}
                        {% if error %}
                            <div class="ui negative message">
                                <i class="close icon"></i>
                                <div class="header">{{error}}</div>
                            </div> 
                        {% endif %}
                            <form class="ui form" action="/resetpassword" method="post">
                                <input type="hidden" name="email" value="{{email}}">
                                <input type="hidden" name="resettoken" value="{{resettoken}}">
                                <div class="field">
                                    <label for="password">Password</label>
                                    <label for="password">Password</label>
                                    <input type="password" name="password">
                                </div>
                                <div class="field">
                                    <label for="confirm_password">Confirm password</label>
                                    <input type="password" name="confirm_password">
                                </div>
                                <button type="submit" class="ui blue button">Reset password</button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
