{% set page_title = 'HEXA-A - Resr password' %}
{% extends 'layout.html' %}
{% block container %}

    <div class="container w-50" style="margin-top:50px">
        <h3 class="text-center">HEXA-A</h3><br>

        <h4>Reset password</h4>
        <hr class="half-rule">

        {% if done %}
            <div class="alert alert-success" role="alert">
                Your password has been reset successfully!, <a href="/login">Login</a>
            </div>

        {% elif invalid_token %}

            <div class="alert alert-danger" role="alert">
                Invalid reset link
            </div>
            
        {% else %}
        
            {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endif %}

            <form action="/resetpassword" method="post">
                <input type="hidden" class="form-control" name="email" value="{{email}}">
                <input type="hidden" class="form-control" name="resettoken" value="{{resettoken}}">
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label for="password">Confirm password</label>
                    <input type="password" class="form-control" name="confirm_password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-success">Reset password</button>
                </div>
            </form>

        {% endif %}

    </div>

{% endblock %}
