{% set page_title = 'HEXA-A - Resr password' %}
{% extends 'layout.html' %}
{% block container %}

    <div class="container w-50" style="margin-top:50px">
        <h3 class="text-center">HEXA-A</h3><br>

        <h4>Reset password</h4>
        <hr class="half-rule">

        {% if done %}
            <div class="alert alert-success" role="alert">
                A message with a reset link has been sent to your email, please check it.
            </div>

        {% else %}

            {% if error %}
                <div class="alert alert-danger" role="alert">{{error}}</div>
            {% endif %}

            <form action="/sendresetpassword" method="post">
                <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="Enter your email address">
                </div>
                <button type="submit" class="btn btn-success">Send reset link</button>
            </form>

        {% endif %}
    </div>

{% endblock %}
