{% set page_title = 'HEXA-A - Rest password' %}
{% extends 'layout.html' %}
{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui six wide column">
                <div class="ui left aligned segment">
                    <h3>Reset password</h3>
                    <div class="ui divider"></div> 

                    {% if done %}
                        <div class="ui positive message">
                            <div class="header">A message with a reset link has been sent to your email, please check it.</div>
                        </div>
                    {% else %}

                        {% if error %}
                            <div class="ui negative message">
                                <i class="close icon"></i>
                                <div class="header">{{error}}</div>
                            </div> 
                        {% endif %}

                        <form class="ui form" action="/sendresetpassword" method="post">
                            <div class="field">
                                <label for="email">Email address</label>
                                <input type="email" name="email" placeholder="Enter your email address">
                            </div>
                            <button type="submit" class="ui blue button">Send reset link</button>
                        </form>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}