{% set page_title = 'HEXA-A - Create Account' %}
{% extends 'layout.html' %}
{% block container %}

<div class="ui container" style="margin-top:30px">
    <div class="ui middle aligned center aligned grid">
        <div class="ui six wide column">
            <div class="ui segment left aligned">
                <h3>Create new account</h3>
                <div class="ui divider"></div> 
                <form class="ui form" action="/signup" method="post">
                    <div class="field">
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <label for="email">Email</label>
                        <input type="email" name="email" placeholder="Email address" required>
                    </div>
                    <div class="field">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <button type="submit" class="ui green fluid button">Sign up</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
