{% set tab = 'announcements' %}
{% set page_title = 'HEXA-A - Announcements' %}
{% extends 'group/group_page.html' %}
{% block group_content %}

    <div class="ui segment">
        <div class="ui grid">
            <div class="four column row">
                <div class="column">
                    <h3>Announcements</h3>
                </div>
                <div class="right floated column">
                    {% if group.is_admin %}
                        <button id="create-announcement-button" class="ui mini green right floated labeled icon button">
                            New
                            <i class="plus icon"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="ui divider"></div>

        <div class="ui feed">
            {% if not announcements.result %}
                <p>No announcements were found in group.</p>
            {% endif %}  
            
            {% for announcement in announcements.result %}
                <div class="event">
                    <div class="label">
                        <img src="/avatar/{{announcement.created_by.username}}">
                    </div>
                    <div class="content">
                        <div class="summary">
                            <a href="/users/{{announcement.created_by.username}}">
                                {{announcement.created_by.username}}
                            </a>
                            <div class="date">{{timestamp_to_age(announcement.created_at)}}</div>
                            {% if group.is_admin %}
                                <div class="ui top right mini pointing dropdown right floated basic button">...
                                    <div class="menu">
                                        <button class="fluid ui basic button item" name="removeAnnouncement" type="button" data-group="{{group.uid}}" data-announcement="{{announcement.uid}}">Delete</button>
                                    </div>
                                </div>
                        {% endif %} 
                        </div>
                        <div class="extra text" id="announcementContentOf_{{announcement.uid}}">
                            {{announcement.content}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'modals/postAnnouncements.html'%}
    
{% endblock %}