body{
  background: #F8F9F9
}

/* .wrapper {
    min-height: calc(100% - 40px);
    padding: 20px
  } */

  .segment{
    border:none !important;
    padding: 2em !important;
  }

.bg-white{
  background: #fff !important;
}
.bg-blue{
  background: #17202A !important;
}


.method-get-text{color: #2471A3;}
.method-post-text{color:#229954;}
.method-put-text{color:#F39C12;}
.method-delete-text{color:#CB4335}

.method-get{
  border-top: 2px solid #2471A3 !important
}
.method-post{
  border-top: 2px solid#229954 !important
}
.method-put{
  border-top: 2px solid#F39C12 !important
}
.method-delete{
  border-top: 2px solid #CB4335 !important
}

.description{
  margin-top:3px;
}

.no-padding{
  padding:7px !important;
}

.post-field, .post-field:focus{
  resize: none !important;
}
