<div class="modal fade" id="add-testcase" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new testcase</h4>
            </div>
            <div class="modal-body">
                <form id="add-testcase-form" data-group="{{group.uid}}" data-testsuite="{{testsuite.uid}}">
                    <div class="form-group">
                        <label for="stdin">STDIN</label>
                        <textarea rows="5" class="form-control" name="stdin"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="expected_stdout">STDOUT</label>
                        <textarea rows="5" class="form-control" name="expected_stdout"></textarea>
                    </div>
                </form>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" form="add-testcase-form">Add</button>
        </div>
        </div>
    </div>
</div>