<div class="ui modal" id="add-testcase-modal">
    <div class="header">
        {% if group.is_admin %}
            Add new testcase
        {% else %}
            Suggest new testcase
        {% endif %}
    </div>
    <div class="content">
        <form class="ui form" id="add-testcase-form">
            <input type="hidden" name="group" value="{{group.uid}}">
            <input type="hidden" name="testsuite" value="{{testsuite.uid}}">                
            <div class="field">
                <label for="stdin">STDIN</label>
                <textarea rows="5" name="stdin"></textarea>
            </div>
            <div class="field">
                <label for="expected_stdout">STDOUT</label>
                <textarea rows="5" name="expected_stdout"></textarea>
            </div>
        </form>
    </div>
    <div class="actions">
        <button class="ui grey deny button">Cancel</button>
        <button type="submit" class="ui green button" form="add-testcase-form">Add</button>
    </div>
</div>