<div class="ui mini modal" id="create-group-modal">
    <div class="header">Create new Group</div>
        <div class="content">
            <form class="ui form" id="create-group-form">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea type="text" name="description"></textarea>
                </div>
            </form>
        </div>
        <div class="actions">
        <button class="ui grey deny button">Cancel</button>
        <button type="submit" class="ui green button" form="create-group-form">Create</button>
    </div>
</div>