<div class="ui tiny modal" id="create-testsuite-modal">
    <div class="header">Create new testsuite</div>
        <div class="content">
            <form class="ui form" id="create-testsuite-form" group="{{group.uid}}">
                <div class="field">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="two fields">
                    <div class="eight wide field">
                        <label for="level">Difficulty level</label>                                    
                        <select name="level" aria-placeholder="Level">
                            <option value="basic">Basic</option>
                            <option value="extended">Extended</option>
                            <option value="advanced">Advanced</option>                        
                        </select>
                    </div>
                    <div class="eight wide field">
                        <label for="attempts">Attempts</label>
                        <input name="attempts" type="number" value="0">
                    </div> 
                </div>
                <div class="field">
                    <label for="file">Import Testcases</label>
                    <input type="file" name="file"/>
                </div>
                <div class="field">
                    <label for="attachments">Attachments</label>
                    <input type="file" name="attachments" multiple/>
                </div>
                <div class="field">
                    <div class="ui toggle checkbox">
                        <input type="checkbox" name="public">
                        <label>Public</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
        <button class="ui grey deny button">Cancel</button>
        <button type="submit" class="ui green button" form="create-testsuite-form">Create</button>
    </div>
</div>