<div class="ui mini modal" id="delete-group-modal">
    <div class="header">Delete group</div>
        <div class="content">
            Are sure you want to remove group <strong>{{group.name}}</strong>?
            <form id="delete-group-form">
                <input type="hidden" name="groupId" value="{{group.uid}}">
            </form>
        </div>
        <div class="actions">
        <button class="ui grey deny button">Cancel</button>
        <button type="submit" class="ui red button" form="delete-group-form">Delete</button>
    </div>
</div>
