<div class="ui mini modal" id="delete-testsuite-modal">
    <div class="header">Delete testsuite</div>
        <div class="content">
            Are sure you want to remove testsuite <strong>{{testsuite.name}}</strong>?
            <form id="delete-testsuite-form">
                <input type="hidden" name="groupId" value="{{group.uid}}">
                <input type="hidden" name="testsuiteId" value="{{testsuite.uid}}">                
            </form>
        </div>
        <div class="actions">
        <button class="ui grey deny button">Cancel</button>
        <button type="submit" class="ui red button" form="delete-testsuite-form">Delete</button>
    </div>
</div>