<div class="ui mini modal" id="delete-assignment-modal">
    <div class="header">Delete assignment</div>
        <div class="content">
            Are sure you want to remove assignment <strong>{{assignment.name}}</strong>?
            <form id="delete-assignment-form">
                <input type="hidden" name="groupId" value="{{group.uid}}">
                <input type="hidden" name="assignmentId" value="{{assignment.uid}}">                
            </form>
        </div>

        <div class="actions">
        <button class="ui grey deny button">Cancel</button>
        <button type="submit" class="ui red button" form="delete-assignment-form">Delete</button>
    </div>
</div>