<div class="modal fade" id="edit-testsuite" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit testsuite</h4>
            </div>
            <div class="modal-body">
                <form id="edit-testsuite-form" group="{{group.uid}}" testsuite="{{testsuite.uid}}">
                    <input type="hidden" name="groupId" value="{{group.uid}}">
                    <input type="hidden" name="testsuiteId" value="{{testsuite.uid}}">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" value="{{testsuite.name}}">
                    </div>
                    <div class="form-group">
                        <label for="level">Difficulty level</label>                                    
                        <select class="form-control" name="level" aria-placeholder="Level">
                            <option value="basic" {{'selected' if testsuite.level == 'basic'}}>Basic</option>
                            <option value="extended" {{'selected' if testsuite.level == 'extended'}}>Extended</option>
                            <option value="advanced" {{'selected' if testsuite.level == 'advanced'}}>Advanced</option>                        
                        </select>
                    </div>             
                    <div class="form-group">
                        <input type="checkbox" name="public" {{'checked' if testsuite.public}}> Public
                    </div>
                    <div class="form-group">
                        <input name="attempts" type="number" class="form-control" value="{{testsuite.attempts}}">
                    </div>
                    {% if not testsuite.attachment %}
                        <div class="form-group">
                            <input type="file" name="attachment" id="custom-file-handler-update-attachment" style="display:none"/>
                            <button class="btn btn-info" id="custom-file-button-update-attachment" type="button">Attach file</button>
                        </div>                       
                    {% endif %}
                </form>
            </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-success" form="edit-testsuite-form">Save</button>
        </div>
        </div>
    </div>
</div>