{% extends 'layout.html' %}

{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui ten wide column">
                <div class="ui left aligned segment">
                    <h1 class="ui red header">
                        <i class="ui large lock red icon"></i>
                        <div class="content">
                            Access denied [403]
                        </div>
                    </h1>
                    <div class="ui divider"></div>
                    <p>You don't have premissions to access this page.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}