{% set page_title = 'HEXA-A - Announcements' %}
{% extends 'group/group_page.html' %}

{% block content %}
    {% if group.is_admin %}
        <div class="row">
            <div class="col">
                <form id="create-announcements-form" class="m-0">
                    <input type="hidden" name="groupId" value="{{group._id}}">
                    <div class="row">
                        <div class="col-11">
                            <div class="form-group">
                                <textarea class="form-control code-text mb-0" rows="2" name="content" placeholder=""></textarea>
                            </div>
                        </div>
                        <div class="col-auto ml-auto">
                            <button type="submit" class="btn btn-success btn-sm ml-auto">
                                Post
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <hr class="half-rule"/> 
    {% endif %}

  {% if not announcements %}
      <span class="text-muted">No announcements were found in this group</span>
  {% else %}
    <div class="list-group">
      {% for announcement in announcements %} {% include 'items/announcements-item.html' %} {% endfor %}
    </div>
  {% endif %}

{% endblock %}
