{% set tab = 'announcements' %}
{% set page_title = 'HEXA-A - Announcements' %}
{% extends 'group/group_page.html' %}
{% block group_content %}

    <div class="ui segment">
        <div class="ui grid">
            <div class="four column row">
                <div class="column">
                    <h3>Announcements</h3>
                </div>
                <div class="right floated column">
                    {% if group.is_admin %}
                        <button id="create-announcement-button" class="ui mini green right floated labeled icon button">
                            New
                            <i class="plus icon"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
        
        <div class="ui divider"></div>

        <div class="ui feed">
            {% if not announcements.result %}
                <p>No announcements were found in group.</p>
            {% endif %}  
            
            {% for announcement in announcements.result %}
                {% include 'items/announcements-item.html' %}
            {% endfor %}
        </div>
    </div>

    {% include 'modals/postAnnouncements.html'%}
    
{% endblock %}