{% set page_title = 'HEXA-A - Assignments' %}
{% extends 'group/group_page.html' %}

{% block content %}

  <div class="row">
    <div class="col-4">
        <input type="text" class="form-control form-control-sm" id="search-filter" placeholder="Search">
    </div>
    {% if group.is_admin %}
      <div class="col-auto ml-auto">
          <a class="btn btn-success btn-sm" href="/groups/{{group.uid}}/assignments/new">Create New</a>
      </div>
    {% endif %}
  </div>

  <hr class="half-rule"/> 
  
  {% if not assignments %}
      <span class="text-muted">No assignments were found in this group</span>
  {% else %}
    <div class="list-group">
      {% for assignment in assignments %} {% include 'items/assignment-item.html' %} {% endfor %}
    </div>
  {% endif %}

{% endblock %}
