{% set tab = 'assignments' %}
{% set page_title = 'HEXA-A - Assignments' %}
{% extends 'group/group_page.html' %}

{% block group_content %}

    <div class="ui clearing segment">

        <h3>{{assignment.name}}</h3>
        <div class="description sub-text">
            {% if not assignment.published %}
                <div class="ui grey mini label">Unpublished</div>
            {% elif assignment.status == 'open' %}
                <div class="ui green mini label">Open</div>
            {% elif assignment.status == 'closed' %}
                <div class="ui red mini label">Closed</div>
            {% endif %}
            
            &nbsp; Created {{timestamp_to_age(assignment.created_at)}} by <a href="/users/{{assignment.created_by.username}}">{{assignment.created_by.username}}</a>
            {% if assignment.updated_at %}
                - Updated {{timestamp_to_age(assignment.updated_at)}} by <a href="/users/{{assignment.updated_by.username}}">{{assignment.updated_by.username}}</a>
            {% endif %}
        </div>

        <div class="ui secondary pointing blue menu">
            <a class="{{'active' if subtab == 'details'}} item" onclick="setUrlParameter('subtab', 'details')">Details</a>
            <a class="{{'active' if subtab == 'submissions'}} item" onclick="setUrlParameter('subtab', 'submissions')">Submissions</a>
            {% if group.is_admin %}
                <a class="item {{'active' if subtab == 'settings'}}" onclick="setUrlParameter('subtab', 'settings')">Settings</a>
            {% endif %}
        </div>

        <div class="ui attached segment small-padding">

            {% if subtab == 'details' %}

                {% if assignment.description %}
                    <article class="markdown-body">{{render_markdown(assignment.description)}}</article>
                {% else %}
                    <p>No description provided</p>
                {% endif %}

                <br>

                {% if assignment.published and assignment.status == 'open' %}
                    <button class="ui blue button" id="submit-code-button">Submit</button>
                {% endif %}

            {% elif subtab == 'submissions'%}

                {% include 'group/submissions.html' %}

            {% elif subtab == 'settings'%}

                {% if not assignment.published %}
                    <button type="submit" class="ui green icon labeled button" id="publish-assignment-button" type="button" data-group="{{group.uid}}" data-assignment="{{assignment.uid}}">
                        Publish <i class="globe icon"></i>
                    </button>
                {% endif %}
                
                <h4 class="ui dividing header">Update detail</h4>

                <form class="ui form" id="edit-assignment-form">
                        <input type="hidden" name="groupId" value="{{group.uid}}">
                        <input type="hidden" name="assignmentId" value="{{assignment.uid}}">
                        <div class="field">
                            <label for="name">Name</label>
                            <input type="text" name="name" value="{{assignment.name}}">
                        </div>
                        <div class="field">
                            <label for="deadline">Deadline</label>
                            <input type="datetime-local" name="deadline" value="{{datatimeFromTimestamp(assignment.deadline)}}">
                        </div>
                        <div class="field">
                            <label for="description">Description</label>
                            <textarea type="text" rows="10" name="description">{{assignment.description}}</textarea>
                        </div>
                        <button type="submit" class="ui blue icon labeled button">
                            Save <i class="save icon"></i>
                        </button>
                        
                    </form>

                <h4 class="ui dividing header">Testsuites</h4>
                <div class="ui list">

                    {% if not testsuites.result %}
                        <p>No testsuites are available.</p>  
                    {% endif %}

                    {% for testsuite in testsuites.result %}

                        <div class="item">
                            <div class="ui toggle checkbox">
                                <input type="checkbox" name="link-unlink-testsuite-checkbox" data-group="{{group.uid}}" data-assignment="{{assignment.uid}}" data-testsuite="{{testsuite.uid}}" {{'checked' if testsuite.uid in get_object_attr(assignment.testsuites, 'uid') }}>
                                <label>{{testsuite.name}} </label>
                            </div>
                        </div>
                    {% endfor %}

                </div>

                <h4 class="ui dividing header">Delete</h4>

                <button class="ui red icon labeled button" id="delete-assignment-button">
                    Delete <i class="trash icon"></i>
                </button>



                


            {% endif %}

        </div>
    
    </div>

    {% include 'modals/submitCode.html'%}
    {% include 'modals/deleteAssignment.html'%}

{% endblock %}
