{% set page_title = 'HEXA-A - Testsuites' %}
{% set tab = 'assignments'%}
{% extends 'group/group_page.html' %}

{% block group_content %}

  <div class="ui segment">

        <div class="ui grid">
            <div class="four column row">
                <div class="column">
                    <h3>Assignments</h3>
                </div>
                <div class="right floated column">
                    {% if group.is_admin %}
                        <button id="create-assignment-button" class="ui mini green right floated labeled icon button">
                            New
                            <i class="plus icon"></i>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div> 

        <div class="ui divided items">
            {% for assignment in assignments.result %}
            {% include 'items/assignment-item.html'%}
            {% endfor%}
        </div>
    </div>

  {% include 'modals/createAssignment.html'%}
  
{% endblock %}
