{% set tab = 'assignments' %}
{% set page_title = 'HEXA-A - Assignments' %}
{% extends 'group/group_page.html' %}

{% block group_content %}

    <div class="ui blue segment">

        <h3>{{assignment.name}}</h3>

        <div class="ui secondary pointing blue menu">
            <a class="{{'active' if subtab == 'details'}} item" onclick="setUrlParameter('subtab', 'details')">Details</a>
            <a class="{{'active' if subtab == 'submissions'}} item" onclick="setUrlParameter('subtab', 'submissions')">Submissions</a>
            {% if group.is_admin %}
                <a class="item {{'active' if subtab == 'settings'}}" onclick="setUrlParameter('subtab', 'settings')">Settings</a>
            {% endif %}
        </div>

        <div class="ui bottom attached segment">

            {% if subtab == 'details' %}

                {% if assignment.description %}
                    <article class="markdown-body">{{render_markdown(assignment.description)}}</article>
                {% else %}
                    <small class="text-muted">No description provided</small>
                {% endif %}

            {% elif subtab == 'submissions'%}

            <table class="ui small table">
                <thead>
                    <tr>
                    <th>ID</th>
                    {% if group.is_admin %}
                        <th>User</th>
                    {% endif %}
                    <th>Time</th>
                    <th>Result</th>
                    <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in submissions.result %}
                        <tr>
                            <td>
                                <a href="/submissions/{{submission._id}}"><code>{{submission._id[:10]}}</code></a>
                            </td>
                            {% if group.is_admin %}
                                <td>{{submission.username}}</td>
                            {% endif %}
                            <td>{{datatimeFromTimestamp(submission.submitted_at)}}</td>
                            <td>
                                {% if submission.result.summary %}

                                    <span class="text-success">{{submission.result.summary.passed}} / </span> 
                                    <span class="text-danger">{{submission.result.summary.failed}} / </span>
                                    <span class="text-dark">{{submission.result.summary.errored}}</span>
                
                                {% else %}
                                    <span>- / - / -</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if submission.status in  ['Error', 'Compiler Error'] %}
                                    <span class="badge badge-dark">{{submission.status}}</span>
                                {% elif submission.status == 'Passed' %}
                                    <span class="badge badge-success">Passed</span>     
                                {% elif submission.status == 'Failed' %}                       
                                    <span class="badge badge-danger">Failed</span> 
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% elif subtab == 'settings'%}

            {% endif %}

        </div>
    
    </div>

{% endblock %}
