{% include 'layout.html' %}

{% block container %}

    <div class="ui container">
        <div class="ui stackable grid">
            <div class="four wide column">

                <div class="ui stackable blue segment">
                
                <h3>{{group.name}}</h3>
                <p>{{group.description}}</p>
                
                <div class="ui divider"></div> 


                <div class="ui stackable secondary vertical small fluid menu">
                    <a href="/groups/{{group.uid}}/announcements" class="item {{'active' if tab == 'announcements'}}">
                        <i class="bullhorn grey icon"></i>
                        Announcements
                    </a>                    
                    <a href="/groups/{{group.uid}}/assignments" class="item {{'active' if tab == 'assignments'}}">
                        <i class="code grey icon"></i>
                        Assignments
                    </a>
                    <a href="/groups/{{group.uid}}/testsuites" class="item {{'active' if tab == 'testsuites'}}">
                        <i class="tasks grey icon"></i>                    
                        Testsuites
                    </a>                
                    <a href="/groups/{{group.uid}}/members" class="item {{'active' if tab == 'members'}}">
                        <i class="users grey icon"></i>
                        Members
                    </a>                
                    {% if group.is_admin %}
                        <a href="/groups/{{group.uid}}/settings" class="item {{'active' if tab == 'settings'}}">
                            <i class="cog grey icon"></i>
                            Settings
                        </a>
                    {% endif %}
                </div>

            </div>

            </div>

            <div class="twelve wide column">
                {% block group_content %}{% endblock %}
            </div>

        </div>
    </div>

{% endblock %}
