{% set page_title = 'HEXA-A - Join group' %}
{% extends 'layout.html' %}

{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui six wide column">
                <h3 class="ui left aligned header">Join group</h3>
                <div class="ui divider"></div>         
                <div class="ui fluid card">
                    <div class="content">
                        <div class="center aligned header">{{group.name}}</div>
                        <div class="center aligned description">
                        <p>{{group.description}}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        <p class="left floated">
                            Created by <a href="/users/{{group.created_by.username}}">{{group.created_by.username}}</a>
                        </p>
                        <p class="right floated">{{group.members_count}} members</p>
                    </div>
                    {% if not group.join_request %}
                        <div id="join-group-button" class="ui bottom attached blue button" data-group="{{group.uid}}">
                            <i class="add icon"></i> Join group
                        </div>
                    {% else %}
                        <div class="ui bottom attached green button">
                            <i class="check icon"></i> Join request sent
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

