{% set page_title = 'HEXA-A - Members' %}
{% set tab = 'members' %}
{% extends 'group/group_page.html' %}

{% block group_content %}


  {% if group.is_admin and requests %}

    <div class="ui segment">
      <h3>Requests</h3>
      <div class="ui divider"></div> 
      <div class="ui very relaxed list">
          {% for request in requests %}
              {% include 'items/request-item.html'%}
          {% endfor %}
      </div>
    </div>

  {% endif %}

  <div class="ui segment">

        <div class="ui grid">
            <div class="four column row">
                <div class="column">
                    <h3>Members</h3>
                </div>
                <div class="right floated column">
                    {% if  group.is_admin %}
                    <button id="add-members-button" class="ui mini green right floated button">Add</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="ui divider"></div> 
      
        <div class="ui very relaxed list">
            {% for member in members.result %}
                {% include 'items/member-item.html'%}
            {% endfor %}
        </div>
    </div>

    </div>

  {% include 'modals/addMember.html'%}

{% endblock %}
