{% set page_title = 'HEXA-A - Settings' %}
{% extends 'group/group_page.html' %}

{% block content %}

    <h4>Settings</h4>
    
    <hr class="half-rule"/>

    <div class="row">
        <div class="col-7">
            <form id="edit-group-form" data-group="{{group._id}}">
                <div class="form-group">
                    <label class="text-muted" for="name">Name</label>                        
                    <input type="text" class="form-control" name="name" value="{{group.name}}">
                </div>
                <div class="form-group">
                    <label class="text-muted" for="description">Description</label>
                    <textarea type="text" class="form-control" name="description">{{group.description}}</textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-sm">Update info</button>
                </div>
            </form>
        </div>
    </div><br>
    
    <div class="row">
        <div class="col-7">
            <h6 class="text-muted">Delete group</h6>
            <small>Deleting your group will prementally delete all assignments, testsuites, and members's submissions data and you will not be able to recover them.</small><br>                                                         
            <button type="button" data-toggle="modal" data-target="#delete-group" class="btn btn-danger btn-sm mt-2">Delete group</button>
        </div>
    </div>

    {% include 'modals/deleteGroup.html' %}

{% endblock %}


    
