{% if not submissions.result %}

    <p>No submissions were found.</p>

{% else %}

    <table class="ui small very basic table">
        <thead>
            <tr>
            <th>ID</th>
            {% if group.is_admin %}
                <th>User</th>
            {% endif %}
            <th>Time</th>
            <th>Result</th>
            <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions.result %}
                {% include 'items/submission-item.html'%}
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="5">
                {% set pagenation = submissions.pagenation %}
                {% include 'pagenation.html' %}
            </th>
        </tr>
        </tfoot>
    </table>

{% endif %}


