{% set page_title = 'HEXA-A - Submissions' %}
{% extends 'layout.html' %}

{% block container %}

    <div class="ui container">
        <div class="ui segment">

            <h3>Submissions / <code></span>{{submission.uid}}</code></h3>
            
            <div class="description sub-text">
                Submitted by <a href="/users/{{submission.username}}">{{submission.username}}</a> at {{datatimeFromTimestamp(submission.submitted_at)}}
            </div>

            <div class="ui divider"></div>

            <div class="ui divided items">            
                {% for testcase in submission.result.testcases %}
                    <div class="item">
                        <div class="content">
                        <pre>Id : {{testcase.uid}}</pre>
                        <pre>Input : {{testcase.stdin}}</pre>
                        <pre>Generated output: {{testcase.stdout or '' }}</pre>
                        <pre>Expected output : {{testcase.expected_stdout}}</pre>
                        {% if testcase.returncode %}
                            <pre>Error ({{testcase.returncode}}) : {{testcase.stderr}}</pre>
                        {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            

        </div>
    </div>

{% endblock %}