{% set page_title = 'HEXA-A - Testsuites' %}
{% set tab = 'testsuites'%}
{% extends 'group/group_page.html' %}

{% block group_content %}

  <div class="ui segment">

      <div class="ui grid">
          <div class="four column row">
              <div class="column">
                <h3>Testsuites</h3>
              </div>
              <div class="right floated column">
                  <button id="create-testsuite-button" class="ui mini green right floated button">
                      New
                  </button>
              </div>
          </div>
      </div>

      <div class="ui divider"></div> 

      <div class="ui divided items">
        {% for testsuite in testsuites.result %}
          {% include 'items/testsuite-item.html'%}
        {% endfor%}
      </div>
  </div>

  {% include 'modals/createTestsuite.html'%}
  
{% endblock %}