{% set tab = 'testsuites' %}
{% set page_title = 'HEXA-A - Testsuites' %}
{% extends 'group/group_page.html' %}

{% block group_content %}

  <div class="ui segment">

    <div class="ui grid">
        <div class="six column row">
            <div class="column">
            <h3>{{testsuite.name}}</h3>                
            </div>
            <div class="right floated column">
            <button id="delete-assignment-button" class="ui mini red right floated button">
                Delete
            </button>
                <button id="update-assignment-button" class="ui mini blue right floated button">
                    Edit
                </button>
            </div>
        </div>
    </div>

    <div class="ui tabular menu">
        <a class="active item">Testcases</a>
        <a class="item">Suggested testcases</a>
        <a class="item">Attachments</a>
    </div> 

    <div class="ui very relaxed divided list">
    
        {% for testcase in testsuite.testcases %}
            {% include 'items/testcase-item.html'%}
        {% endfor %}

    </div>
    
  </div>

  
{% endblock %}
