{% set page_title = 'HEXA-A - Testsuites' %}
{% extends 'group/group_page.html' %}

{% block content %}

  <div class="row">
      <div class="col-4">
        <input type="text" class="form-control form-control-sm" id="search-filter" placeholder="Search">
      </div>
      {% if group.is_admin %}
        <div class="col-auto ml-auto">
            <button data-toggle="modal" data-target="#create-testsuite" class="btn btn-success btn-sm">Create New</button>
        </div>
      {% endif %}
    </div>

  <hr class="half-rule"/> 

    {% if not testsuites %}
        <span class="text-muted">No {% if not group.is_admin %} public {% endif %} testsuites in this group</span>
    {% else %}  
      <div class="list-group">
        {% for testsuite in testsuites.result %}{% include 'items/testsuite-item.html' %}{% endfor %}
      </div>
    {% endif %}

  {% include 'modals/createTestsuite.html' %}
{% endblock %}