<html>
    <head>
        {% block header %}
            <title>{{page_title}}</title>
        {% endblock %}
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/semantic.min.css"/>
        <link rel="stylesheet" href="/static/css/semantic.css"/>
        <link rel="stylesheet" href="/static/css/style.css?v=10002"/>   
        <link rel="stylesheet" href="/static/css/github-markdown.css"/>   
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/semantic.min.js"></script>
        <script src="/static/js/semantic.js"></script>
        <script src="/static/js/script.js?v=10001"></script>      
        <script src="/static/js/api_client.js?v=10001"></script>    
        <script src="/static/js/actions.js?v=10001"></script>      
    </head>
    <body class="Site">
        <main class="Site-content">
            <div class="ui secondary blue pointing inverted large menu bg-blue">
                <div class="ui container">
                    <a class="header item" href="/">HEXA-A</a>
                </div>
            </div>

            {% block container %}{% endblock %}
        </main>
        <footer>
            <div class="ui basic segment no-padding container">
                <div class="ui divider"></div> 
                <div class="ui text menu">
                    <a class="item" href="https://github.com/ahmedelsayed-93/hexa-a">Github</a>
                    <a class="item">About</a>
                    <a class="item">Help</a>
                    <a class="item">API</a>
                </div>         
            </div>
        </footer>
    </body>    
</html>
