<html>
    <head>
        {% block header %}
            <title>{{page_title}}</title>
        {% endblock %}
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/css/semantic.min.css"/>
        <link rel="stylesheet" href="/static/css/semantic.css"/>
        <link rel="stylesheet" href="/static/css/style.css?v=10001"/>   
        <link rel="stylesheet" href="/static/css/github-markdown.css"/>   
        <script src="/static/js/jquery-3.1.1.min.js"></script>
        <script src="/static/js/semantic.min.js"></script>
        <script src="/static/js/semantic.js"></script>
        <script src="/static/js/script.js?v=10001"></script>      
        <script src="/static/js/api_client.js?v=10001"></script>    
        <script src="/static/js/actions.js?v=10001"></script>      
    </head>
    <body>
        <div class="ui secondary blue pointing inverted menu bg-blue">
            <div class="ui container">
                <a class="header item" href="/">HEXA-A</a>
            </div>
        </div>

        {% block container %}{% endblock %}
    </body>
</html>
