<div class="ui pagination mini menu bp">
    <a class="icon item {{'disabled' if not pagenation.prev_page}}" onclick="pagenate('{{pagenation.prev_page}}')">
        <i class="left arrow icon"></i>
    </a>

    {% for page in range(1, pagenation.pages + 1) %}
        <a class="{{'active' if page == pagenation.current_page}} item" onclick="pagenate('{{page}}')">{{page}}</a>
    {% endfor %}

    <a class="icon item {{'disabled' if not pagenation.next_page}}" onclick="pagenate('{{pagenation.next_page}}')">
        <i class="right arrow icon"></i>
    </a>
</div>


