{% if not submissions.result %}
    <p>No submissions were found.</p>
{% else %}
    <table class="ui small very basic table">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Time</th>
                <th>Result</th>
                <th>Status</th>
                <th>File</th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions.result %}
                <tr>
                    <td>
                        <a href="/submissions/{{submission.uid}}"><code>{{submission.uid[:5]}}..</code></a>
                    </td>
                    <td>{{submission.username}}</td>
                    <td>{{datatimeFromTimestamp(submission.submitted_at)}}</td>
                    {% if submission.result %}
                        <td>
                            {% if submission.result.summary.status not in "Compiler Error" %}
                                <span class="green">{{submission.result.summary.success}} / </span> 
                                <span class="red">{{submission.result.summary.failures}} / </span>
                                <span class="black">{{submission.result.summary.errors}}</span>
                            {% else %}
                                <span>- / - / -</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if submission.result.summary.status in  ['Error', 'Compiler Error'] %}
                                <label class="ui label grey">{{submission.result.summary.status}}</label>
                            {% elif submission.result.summary.status == 'Passed' %}
                                <label class="ui label green">Passed</label>     
                            {% elif submission.result.summary.status == 'Failed' %}                       
                                <label class="ui label red">Failed</label> 
                            {% endif %}
                        </td>
                    {% else %}
                        <td>- / - / -</td>
                        <td>Submitted</td>
                    {% endif %}
                    <td>
                        {% if submission.file_ref %}
                            <a href="#" name="downloadfile" data-submission="{{submission.uid}}">Download</a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="6">
                <p>{{submissions.pagenation.count}} submission(s)</p>
                {% set pagenation = submissions.pagenation %}
                {% include 'pagenation.html' %}
            </th>
        </tr>
        </tfoot>
    </table>
{% endif %}


