<div class="event">
    <div class="label">
        <img src="{{announcement.created_by.profile_photo}}">
    </div>
    <div class="content">
        <div class="summary">
            <a href="/users/{{announcement.created_by.username}}">
                {{announcement.created_by.username}}
            </a>
            <div class="date">{{timestamp_to_age(announcement.created_at)}}</div>
            {% if group.is_admin %}
                <div class="ui top right mini pointing dropdown right floated basic button">...
                    <div class="menu">
                        <button class="fluid ui basic button item" name="removeAnnouncement" type="button" data-group="{{group.uid}}" data-announcement="{{announcement.uid}}">Delete</button>
                    </div>
                </div>
        {% endif %} 
        </div>
        <div class="extra text" id="announcementContentOf_{{announcement.uid}}">
            {{announcement.content}}
        </div>
    </div>
</div>