<div class="card mb-2">
    <div class="card-body">
        <div class="media">
            <img class="rounded-circle mr-3" src="{{announcement.created_by.profile_photo}}" width="30px" alt="{{announcement.created_by.username}}">
            <div class="media-body">
                <div class="row">
                    <div class="col-auto">
                        <h6 class="m-0 mb-1">{{announcement.created_by.username}}</h6>
                        <span class="text-muted mr-1" style="font-size:13px">{{timestamp_to_age(announcement.created_at)}} </span> 
                        {% if announcement.updated_by %}
                            <span class="text-muted">edited</span> 
                        {% endif %}
                    </div>

                    {% if group.is_admin or userInfo.username == announcement.created_by.username %}
                        <div class="col ml-auto text-right">
                            <button type="button" class="btn btn-default btn-sm" id="saveChangesOf_{{announcement._id}}" style="display:none;" data-group="{{group._id}}" data-announcement="{{announcement._id}}">Save</button>
                            <button type="button" class="btn btn-default btn-sm" id="cancelChangesOf_{{announcement._id}}" style="display:none;" data-group="{{group._id}}" data-announcement="{{announcement._id}}">Cancel</button>
                        </div>
                        <div class="col-auto ml-auto text-right">
                            <div class="dropdown">
                                <button class="btn btn-default btn-sm pt-0 pb-0" id="announcementOptionsOf_{{announcement._id}}" data-toggle="dropdown">...</button>
                                <div class="dropdown-menu" aria-labelledby="announcementOptionsOf_{{announcement._id}}">
                                    {% if userInfo.username == announcement.created_by.username %}
                                        <button class="dropdown-item btn-sm" type="button" name="editAnnouncement" data-group="{{group._id}}" data-announcement="{{announcement._id}}">Edit</button>
                                    {% endif %}
                                    <button class="dropdown-item btn-sm" name="removeAnnouncement" type="button" data-group="{{group._id}}" data-announcement="{{announcement._id}}">Delete</button>
                                </div>
                            </div>
                        </div>
                    {% endif %} 

                </div>
                <div class="row mt-3">
                    <div class="col">
                        <p id="announcementContentOf_{{announcement._id}}" class="form-control" max-rows="6" readonly="true">{{announcement.content}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>