<div class="card group-item mb-3" name="item" search-key="{{group.name}}">
    <div class="card-block">
        <h5 class="card-title"><a href="/groups/{{group.uid}}">{{group.name}}</a></h5>
        <p class="card-subtitle">{{group.description}}</p>
        <div class="mt-1 d-flex justify-content-start">
            <p class="card-text mr-4"><small class="text-muted">Created by <a href="/users/{{group.created_by.username}}">{{group.created_by.username}}</a></small></p>
            <p class="card-text mr-4"><small class="text-muted">{{group.members_count}} members</small></p>
            <p class="card-text mr-4">
                {% if group.is_admin %}
                    <small class="text-muted">Admin</small>
                {% elif group.is_member %}
                    <small class="text-muted">Member</small>
                {% else %}
                    {% if group.join_request %}
                        <small class="text-muted">Join request was send</small>
                    {% else %}
                        <small><a href="#">Join group</a></small>
                    {% endif %}
                {% endif %}
            </p>
        </div>
    </div>
</div>  


