<li class="list-group-item">
    <div class="row">
        <div class="col-1 text-truncate"><small>{{rank}}</small></div>
        <div class="col-2 text-truncate">
            <small><a href="/users/{{record.uid}}">{{record.uid}}</a> 
                {% if record.uid == userInfo.username %}
                    <span class="text-muted">(you)</span>
                {% endif %}
            </small>
        </div>

        {% for testsuite in assignment.testsuites %}

            {% set testsuite_obj = search_for_object(record.testsuites, 'testsuite', testsuite.uid) %}

            {% if testsuite_obj %}

                <div class="col">
                    <div class="row">
                        <div class="col text-center">
                            {% if 'Passed' in testsuite_obj.status %}
                                <span class="text-success">&#10004</span>
                            {% else %}
                                <span class="text-danger">&#10007</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col text-center">
                            <small class="text-muted">
                                {% if testsuite_obj.attempts %}
                                    {{testsuite_obj.attempts}} wrong try
                                {% endif %}
                            </small>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="col text-muted text-center">
                    -
                </div>
            {% endif %}

        {% endfor %}

        <div class="col-2 text-center">
            <small>{{record.total_score}}</small>
        </div>

    </div>
</li>