<li class="list-group-item list-group-item-action item-list" name="item" search-key="{{member.user.username}}">
    <div class="row">

        <div class="col-4 text-truncate">
            <img class="rounded-circle mr-3 " width="32px" src="{{member.user.profile_photo}}">
            <a href="/users/{{member.user.username}}">{{member.user.username}}</a>
        </div>

        <div class="col-2 ml-auto">
            <small class="text-muted">{{member.role|capitalize}}</small>
        </div>

        <div class="col ml-auto">
            <small class="text-muted">
                {% if member.added_by == member.user %} 
                    Created the group {{timestamp_to_age(group.created_at)}}
                {% else %}
                    Added by <a href="/users/{{member.added_by.username}}">{{member.added_by.username}}</a> {{timestamp_to_age(member.joined_at)}}
                {% endif %}
            </small>
        </div>

        {% if group.is_admin or member.user.username == userInfo.username %}
            <div class="col-1 ml-auto">
                <div class="dropdown">
                    <button class="btn btn-default btn-sm" id="member-{{member.user.username}}" data-toggle="dropdown">...</button>

                    <div class="dropdown-menu" aria-labelledby="member-{{member.user.username}}">
                        {% if member.user.username == userInfo.username %}
                            <button class="dropdown-item btn-sm" type="button" name="leaveGroup" data-group="{{group.uid}}" data-member="{{member.user.username}}">Leave group</button>
                        {% elif  group.is_admin %}
                            {% set newrole = 'member' if member.role =='admin' else 'admin' %}
                            <button class="dropdown-item btn-sm" name="updateMemberRole" type="button" data-group="{{group.uid}}" data-member="{{member.user.username}}" data-newrole="{{newrole}}">Change role to {{newrole}}</button>
                            <button class="dropdown-item btn-sm" name="removeMember" type="button" data-group="{{group.uid}}" data-member="{{member.user.username}}">Remove</button>
                        {% endif %}        
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</li>