<div class="item">
    
    <div class="right floated content">
        <button name="acceptJoinRequest" class="ui mini green labeled icon button" data-group="{{group.uid}}" data-request="{{request.uid}}">
            <i class="check icon"></i> Accept 
        </button>
        <button name="rejectJoinRequest" class="ui mini red labeled icon button" data-group="{{group.uid}}" data-request="{{request.uid}}">
            <i class="check icon"></i> Reject
        </button>                                                
    </div>
    
    <img class="ui avatar image" src="{{request.user.profile_photo}}">
    <div class="content">
        <a class="header" href="/users/{{request.user.username}}">{{request.user.username}}</a>
        <div class="description">
            Sent {{timestamp_to_age(request.created_at)}}
        </div>
    </div>
</div>
