<li class="list-group-item">
    <div class="row">
        <div class="col text-truncate">
            <small>
                <a href="/submissions/{{submission._id}}"><code>{{submission._id[:10]}}</code></a>
            </small>
        </div>
        {% if group.is_admin %}
            <div class="col text-truncate">
                <small>{{submission.username}}</small>
            </div>
        {% endif %}
        <div class="col text-truncate">
            <small>{{datatimeFromTimestamp(submission.submitted_at)}}</small>
        </div>
        <div class="col text-truncate">
            <small>
                {% if submission.result.summary %}

                    <span class="text-success">{{submission.result.summary.passed}} / </span> 
                    <span class="text-danger">{{submission.result.summary.failed}} / </span>
                    <span class="text-dark">{{submission.result.summary.errored}}</span>

                {% else %}
                    <span>- / - / -</span>
                {% endif %}
                
            </small>                
        </div>
        <div class="col text-truncate">
            {% if submission.status in  ['Error', 'Compiler Error'] %}
                <span class="badge badge-dark">Compiler Error</span>
            {% elif submission.status == 'Passed' %}
                <span class="badge badge-success">Passed</span>     
            {% elif submission.status == 'Failed' %}                       
                <span class="badge badge-danger">Failed</span> 
            {% endif %}
        </div>
    </div>
</li>