<tr>
    <td>
        <a href="/submissions/{{submission._id}}"><code>{{submission._id[:5]}}..</code></a>
    </td>
    {% if group.is_admin %}
        <td>{{submission.username}}</td>
    {% endif %}
    <td>{{datatimeFromTimestamp(submission.submitted_at)}}</td>
    <td>
        {% if submission.result.summary %}

            <span class="text-success">{{submission.result.summary.passed}} / </span> 
            <span class="text-danger">{{submission.result.summary.failed}} / </span>
            <span class="text-dark">{{submission.result.summary.errored}}</span>

        {% else %}
            <span>- / - / -</span>
        {% endif %}
    </td>
    <td>
        {% if submission.status in  ['Error', 'Compiler Error'] %}
            <label class="ui label grey">{{submission.status}}</label>
        {% elif submission.status == 'Passed' %}
            <label class="ui label green">Passed</label>     
        {% elif submission.status == 'Failed' %}                       
            <label class="ui label red">Failed</label> 
        {% endif %}
    </td>
</tr>