<div class="item">
    <div class="content">
        <pre><code>stdin : {{testcase.stdin}}</code></pre>
        <pre><code>stdout: {{testcase.expected_stdout}}</code></pre>
        <span class="sub-text">
            Suggested by <a href="/users/{{testcase.user.username}}">{{testcase.user.username}}</a> {{timestamp_to_age(testcase.suggested_at)}}
        </span>
    </div>
    <div class="right floated content">
        <button name="deleteTestcase" class="ui icon basic mini right floated button" data-group="{{group.uid}}" data-testsuite="{{testsuite.uid}}"data-testcase="{{testcase.uid}}">
            <i class="trash icon"></i>
        </button>
    </div>
</div>