<li  class="list-group-item pt-2 pb-2">
    <div class="row d-flex align-items-center">
        <div class="col-auto">
            <div class="row">
                <div class="col-auto"><code class="testcase">stdin : {{testcase.stdin}}</code></div>
            </div>
            <div class="row">
                <div class="col-auto"><code class="testcase">stdout: {{testcase.expected_stdout}}</code></div>
            </div>                            
        </div>

    </div>
    <div class="row mt-2 align-items-center">
        <div class="col-auto">
            <small><code>{{testcase._id}}</code></small>
        </div>
        <div class="col-auto">
            <small class="text-muted">Suggested by {{testcase.user.username}} {{timestamp_to_age(testcase.suggested_at)}}</small>
        </div>
            <div class="col-auto ml-auto">
                {% if group.is_admin %}
                    <button name="acceptTestcase" class="btn btn-sm btn-default" data-group="{{group._id}}" data-testsuite="{{testsuite._id}}" data-testcase="{{testcase._id}}">Accept</button>
                    <button name="rejectTestcase" class="btn btn-sm btn-default" data-group="{{group._id}}" data-testsuite="{{testsuite._id}}" data-testcase="{{testcase._id}}">Reject</button>                                                
                {% elif userInfo.username ==  testcase.user.username %}
                    <button name="rejectTestcase" class="btn btn-sm btn-default" data-group="{{group._id}}" data-testsuite="{{testsuite._id}}" data-testcase="{{testcase._id}}">Delete</button>
                {% endif %}

            </div>
    </div>
</li>