{% set page_title = 'HEXA-A - Groups' %}
{% extends 'layout.html' %}

{% block container %}

    <div class="ui container" style="margin-top:30px;">

        <div class="ui grid">
            <div class="six wide column">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                </div>
            </div>
            <div class="six wide column right floated">
                <button class="ui green mini button">Create group</button>
            </div>
        </div>

      <div class="ui divider"></div> 
        

        <div class="ui four column stackable grid">

            {% for group in groups.result %}
                <div class="column">
                    <a class="ui card" href="/groups/{{group.uid}}">
                        <div class="content">
                            <div class="header center aligned">{{group.name}}</div>
                            <div class="description">
                                <p>{{group.description}}</p>
                            </div>
                        </div>
                        <div class="extra content">
                            {{group.members_count}} member(s)
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}