{% set page_title = 'HEXA-A - Groups' %}
{% set tab = 'groups' %}
{% extends 'user/user_page.html' %}

{% block user_page_content %}

    <button class="ui green icon labeled button" id="create-group-button">
        Create Group
        <i class="add icon"></i>
    </button><br><br>

    <div class="ui three column stackable grid">

        {% for group in groups.result %}
            <div class="column">
                <a class="ui card" href="/groups/{{group.uid}}">
                    <div class="content">
                        <div class="header center aligned">{{group.name}}</div>
                        <div class="description">
                            <p>{{group.description}}</p>
                        </div>
                    </div>
                    <div class="extra content">
                        {{group.members_count}} member(s)
                    </div>
                </a>
            </div>
        {% endfor %}

    </div>

    {% include 'modals/createGroup.html' %}

{% endblock %}