{% set page_title = 'HEXA-A - {{user.username}}' %}
{% extends 'layout.html' %}

{% block container %}

    <div class="ui container" style="margin-top:30px">
        <div class="ui middle aligned center aligned grid">
            <div class="ui six wide column"> 
                <div class="ui card">
                    <div class="image">
                        <img src="{{user.profile_photo}}">
                    </div>
                    <div class="content">
                        {% if user.firstname and user.lastname %}
                            <div class="header">
                                {{user.firstname}} {{user.lastname}}
                            </div>
                            <div class="meta">
                                <a>{{user.username}}</a>
                            </div>
                        {% else %}
                            <div class="header">
                                {{user.username}}
                            </div>
                        {% endif %}
                    </div>
                    <div class="extra content">
                        <span>
                            Joined at {{dataFromTimestamp(user.created_at)}}
                        </span>
                    </div>
                </div>
        </div>
    </div>
    
{% endblock %}

